

 h2 {
    font-weight: 300;
  }

.inputFields {
  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  width: 250px;
  border: 1px solid #04C4FC;
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, .6);
  color: white;
  outline: none;
}

.inputFields:active{
  
  border: none;
}

.errorInput{
  border-bottom: 1px solid red;
}

.noBullet {
  list-style-type: none;
  padding: 0;
}

#signUp-btn {
  border: 1px solid #04C4FC;
  background: rgba(20, 20, 20, .6);
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: .4s;
  
}

#signUp-btn:hover {
    background: rgba(20, 20, 20, .8);
    padding: 10px 80px;
    transform: scaleX(1)
  }

  label:not(:last-child){
    display: none;
  }

  #options{
  margin: 10px 0;
  font-size: 16px;
  padding: 10px;
  width: 250px;
  border: 1px solid #04C4FC;
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, .6);
  color: white;
  outline: none;
  }

  .selected{
    color: #555;
  }

  .message{
    color: rgb(255, 175, 175);
    font-size: 15px;
    padding: 0 40px;
  }

 

  li{
    list-style: none;
  }