.btn {
  border: 1px solid #04C4FC;
  background: rgba(20, 20, 20, .6);
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: .4s;

  &:hover {
    background: rgba(20, 20, 20, .8);
    padding: 10px 80px;
    transform: scaleX(1)
  }
  
}

