.scrumboard{
    height: 100vh;
     background: linear-gradient(rgba(1, 1, 10, 0.75), rgba(2, 2, 37, 0.85)), url(https://images.unsplash.com/photo-1542626991-cbc4e32524cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c2NydW18ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
     background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: left;
    background-color: rgba(255, 255, 255, .5);
    
}

nav {
    color: black;
    display: flex;
    justify-content: space-between;
    background-color: #b8f0f7;
    padding: 15px;
}

.user{
    font-size: 10px;
    margin-left: 10px;
}

#info {
    padding: 20px;
    margin-left: 10px;
    font-size: 1.4rem;

    animation: scroll-right-offset  16s linear infinite;
    animation-delay: 2s;
    animation-fill-mode: both;

}

@keyframes scroll-right-offset {
            0% {
                transform: translateX(10%);
            }
            100% {
                transform: translateX(40%);
            }
}

@mixin box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;

}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 10px 0;
  z-index: 2;

  .card {
  position: relative;
  min-width: 400px;
  height: 300px;
  box-shadow: inset 5px 5px 5px rgba(236, 159, 16, 0.2),
    inset -5px -5px 15px rgba(252, 233, 150, 0.1),
    5px 5px 15px rgba(236, 223, 223, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 20px;
  transition: 0.5s;

  &:nth-child(1) .box .content a {
  background: #2196f3;
}

&:nth-child(2) .box .content a {
  background: #e91e63;
}

&:nth-child(3) .box .content a {
  background: #23c186;
}

.box{
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
 
  overflow: hidden;
  transition: 0.5s;

  .top{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background: rgb(16, 17, 17);
  }
  


  & h3 {
  font-size: 1.2rem;
  padding-top: 10px;
  color: white;
  z-index: 1;
  transition: 0.5s;
  text-align: center;
  margin-bottom: 15px;
}

   &:hover {
  transform: translateY(-15px);
  }


}





.content {
  padding: 20px;
  


h2 {
  position: absolute;
  top: 40px;
  right: 30px;
  font-size: 7rem;
  color: rgba(255, 255, 255, .3);
}

.addTask {
  display: none;
  position: absolute;
  left: 15px;
  top: 50px;
  display: block;
  background-color: rgba(1, 1, 10, .9);
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.9);
  z-index: 20;
  transition: 0.5s;
  text-align:left;
  margin-left: 0;

}



}



}



}

#add{
  border: 1px solid #04C4FC;
  background: rgba(20, 20, 20, .6);
  font-size: 18px;
  color: white;
  padding: 10px 50px;
  margin-left: 15%;
  cursor: pointer;
  transition: .4s;

  &:hover {
    background: rgba(20, 20, 20, .8);
    padding: 10px 80px;
    transform: scaleX(1)
  }


}


.box-1 {
 
  background: rgb(174, 248, 248);
}

.box-2 {
 
  background: rgb(255, 239, 206);

}

#modal {
  background-color: #fff;
  position: absolute;
  top: 75%;
  left: 30%;
  width: 400px;
  height: 100px;
  z-index: 10;

  .header{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35%;
  font-size: small;
  display: flex;
  justify-content: space-between;
  padding: 10px ;
  background: rgb(16, 17, 17);

  #close{
    font-size: 25px;
    cursor: pointer;
  }
  } 

  #inputField{
    
    position: absolute;
    top: 50%;
    left: 10%;
    border:dark solid 1px;
    height: 30px;
    width: 200px;
    

    &::after{
      border:#04C4FC solid 1px;
    }

  }
}

.show {
  display: block;

  .confirm{
    
    background-color: #04C4FC;
    padding: 5px;
    color: #000;
    position: absolute;
    top: 50%;
    left: 60%;
    cursor: pointer;
  }
}


.hidden{
  display: none;
}

.btn-hide{
   display: none;
}


 
