.scrumboard{
    width: 100vw;
    height: 100vh;
     background: linear-gradient(rgba(1, 1, 10, 0.75), rgba(2, 2, 37, 0.85)), url(https://images.unsplash.com/photo-1542626991-cbc4e32524cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c2NydW18ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
     background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: left;
    background-color: rgba(255, 255, 255, .5);

    display: grid;
    grid-template-rows:  minmax(20vh, min-content)  minmax(80vh, min-content) ;
   
  

    @media only screen and (max-width: 76rem) {
        grid-template-rows: 6rem calc(100vh - 6rem);
    }
    
    
}



// .container-home {
//     display: grid;
//     grid-template-rows:  minmax(90vh, min-content)  24vh minmax(80vh, min-content) repeat(2, minmax(90vh, min-content)) minmax(40vh, min-content) minmax(80vh, min-content) minmax(20vh, min-content);
//     grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 18rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

//     // @media only screen and (max-width: $bp-large) {
//     //     grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
//     //     grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
//     // }

//     // @media only screen and (max-width: $bp-medium) {
//     //     grid-template-rows: 6rem calc(100vh - 6rem);
//     // }
// }


nav {
    position: fixed;
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-between;
    background-color: #2196f3;
    padding: 15px;
    
}

.user{
    font-size: 10px;
    margin-left: 10px;
    
}

#info-container {
  border-radius: 5px;
  overflow: hidden;
  max-width: 50rem;
  margin: auto;
  padding: .5rem;
}


#info {
    padding: 20px;
    margin-left: 10px;
    font-size: 1.4rem;
    color: #022949;
    

      text-align: left;

  /* animation properties */
  -moz-transform: translateX(-80%);
  -webkit-transform: translateX(-80%);
  transform: translateX(-80%);
  
  -moz-animation: scroll-right-offset  15s linear infinite;
  -webkit-animation: scroll-right-offset  15s linear infinite;
  animation: scroll-right-offset  15s linear infinite;
 

}

/* for Firefox */
@-moz-keyframes scroll-right-offset  {
  from { -moz-transform: translateX(-80%); }
  to { -moz-transform: translateX(95%); }
}

/* for Chrome */
@-webkit-keyframes scroll-right-offset  {
  from { -webkit-transform: translateX(-80%); }
  to { -webkit-transform: translateX(95%); }
}

@keyframes scroll-right-offset  {
  from {
    -moz-transform: translateX(-80%);
    -webkit-transform: translateX(-80%);
    transform: translateX(-80%);
  }
  to {
    -moz-transform: translateX(95%);
    -webkit-transform: translateX(95%);
    transform: translateX(95%);
  }
}
@mixin box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;

}




#add{
  border: 1px solid #04C4FC;
  background: rgba(20, 20, 20, .6);
  font-size: 18px;
  color: white;
  padding: 10px 50px;
  margin-left: 20%;
  cursor: pointer;
  transition: .4s;

  &:hover {
    background: rgba(20, 20, 20, .8);
    padding: 10px 80px;
    transform: scaleX(1)
  }


}


.box-1 {
 
  background: rgb(174, 248, 248);
}

.box-2 {
 
  background: rgb(255, 239, 206);

}

#modal {
  background-color: #fff;
  position: absolute;
  top: 75%;
  left: 30%;
  width: 400px;
  height: 100px;
  z-index: 10;

  .header{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35%;
  font-size: small;
  display: flex;
  justify-content: space-between;
  padding: 10px ;
  background: rgb(16, 17, 17);

  #close{
    font-size: 25px;
    cursor: pointer;
  }
  } 

  #inputField{
    
    position: absolute;
    top: 50%;
    left: 10%;
    border:dark solid 1px;
    height: 30px;
    width: 200px;
    

    &::after{
      border:#04C4FC solid 1px;
    }

  }
}

.show {
  display: block;

  .confirm{
    
    background-color: #04C4FC;
    padding: 5px;
    color: #000;
    position: absolute;
    top: 50%;
    left: 60%;
    cursor: pointer;
  }
}


.hidden{
  display: none;
}

.btn-hide{
   display: none;
}






 
