.list-style{
  box-shadow: inset 5px 5px 5px rgba(236, 159, 16, 0.2),
    inset -5px -5px 15px rgba(252, 233, 150, 0.1),
    5px 5px 15px rgba(236, 223, 223, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    background: rgb(241, 38, 38);
   min-width: 50%;
}

a{
  text-decoration: none;
}