

.App {
  text-align: center;
}

.background-red {
  background-color: rgb(253, 227, 227);
}

.background-blue {
  background-color: rgb(164, 164, 247);
}

button{
  margin-left: 20px;
  margin-bottom: 10px;
}